# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Node
node_modules/
imagepipe-ui/build/

# logs
*.log

# local files
uploads/
data/
minio_data/
instance/
postgres_data/

# env
.env
*.env